.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  display: inline-block;
  width: 33%;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigation nav {
  display: inline-block;
  position: absolute;
  top: 0;

}

.search_form {
  border: 1px solid rgb(151, 150, 150);
  padding: 15px 0;
  text-align: center;
}

.search_form div {
  display: inline-block
}

.search_form label {
  font-weight: bold;
  margin-right: 5px;
  display: inline-block;
}

.search_form label input {
  margin: 0 10px;
  padding: 4px;
}

.navigation nav ul>li {
  display: inline-block;
  padding: 10px;
  margin: 2px;
}

.navigation nav a {
  color: white;
  text-decoration: none;
}

.navigation nav a:hover {
  text-decoration: underline;
  font-weight: bold;
  padding-bottom: 2px;
}

h3 {
  font-size: 1.5em;
  padding: 10px 0;
  margin: 0;
}

p {
  display: inline-block;
  margin-right: 1.5em;
  color: #61dafb;
}

.temperature {
  font-size: 3.5em;
  font-weight: 500;
  margin: 0;
}

.description {
  display: block;
  margin: 0;
}




.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.ajax-section {
  margin: 50px 0 20px;
}

.ajax-section .days {
  display: grid;
  grid-gap: 32px 20px;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1000px) {
  .ajax-section .days {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .ajax-section .days {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .ajax-section .days {
    grid-template-columns: repeat(1, 1fr);
  }
}

.ajax-section .day {
  border: 1px solid rgb(213, 214, 213);
  list-style: none;
  position: relative;
  padding: 40px 10%;
  border-radius: 20px;
  background: var(--text_light);
  color: var(--text_med);
}

.ajax-section .day::after {
  content: ’’;
  width: 90%;
  height: 50px;
  position: absolute;
  bottom: -12px;
  left: 5%;
  z-index: -1;
  opacity: 0.3;
  border-radius: 20px;
  background: var(--text_light);
}

.ajax-section figcaption {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.ajax-section .day-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: var(--text_dark);
}

.ajax-section .day sup {
  font-size: 0.5em;
}

.ajax-section .day-name sup {
  padding: 0.2em 0.6em;
  border-radius: 30px;
  color: var(--text_light);
  background: var(--orange);
}

.ajax-section .day-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}



@media screen and (max-width: 1000px) {
  body {
    padding: 30px;
  }

  .section .days {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {

  .heading,
  .section .day-temp {
    font-size: 3rem;
  }

  .section {
    margin-top: 20px;
  }
}